<div class="jumbotron mt-4 bg-light">

	<h1 calss="display-4">Notes App: Nodejs and Mongodb</h1>
	<p class="lead">{{datos.description}}</P>
	<hr class="my-4">
	<p>En esta aplicación se utilizaron los módulos de node.js:</p>
	<p>"express": "{{datos.dependencies.express}}", 
		"express-handlebars": "{{datos.dependencies.express-handlebars}}", 
		"express-session": "{{datos.dependencies.express-session}}", 
		"method-override": "{{datos.dependencies.method-override}}", 
		"mongoose": "{{datos.dependencies.mongoose}}", 
		"passport": "{{datos.dependencies.passport}}", 
		"passport-local": "{{datos.dependencies.passport-local}}", 
		"bcryptjs": "{{datos.dependencies.bcryptjs}}" y 
		"connect-flash": "{{datos.dependencies.connect-flash}}".
	</p>
	<p>Adicionalmente se utilizó el framework de front-end BOOTSTRAP 4 y la libreria de íconos FONT AWESOME</p>
	<p>Creado por: {{datos.author}}</p>
	
</div>